.page{
  display: flex;
  min-height: inherit;

  &>.content{    
    background-color: $white;
    min-height: inherit;

    .form{
      width: 100%;
      max-width: unset;

      form{
        width: 100%;
      }
    }
  }

  &--with-sidebar{
    &>.sidebar{
      max-width: 300px;
      min-width: 300px;
      min-height: inherit;

      @media #{$medium-screen}{
        max-width: 50px;
        min-width: 50px;
      }
    }

    &>.content{
      width: calc(100% - 300px);
      position: relative;
      left: 300px;
      @media #{$medium-screen}{
        left: 50px;
        width: calc(100% - 50px);
      }
    }
  }
}