.option-list{
    
    list-style: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .question.answered &{
        display: none;
    }
    
    &__item{
        $root : &;
        
        -webkit-user-select:none;
        flex-basis: 100%;
        text-align: center;
        position: relative;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0,0,0,.15);
        margin-top: 20px;
        background-color: $white;
        background-size: 20%;
        background-repeat: no-repeat;
        transition: transform 100ms, background-color .5s;

        &.loader{
            @include loader;
            padding: 25px;
        }

        &:first-of-type{
            margin-top: 0;

            @media #{$small-screen}{
                margin-top: 20px;
            }
        }

        &--incorrect{
            text-decoration: line-through;
            background-color: rgba(red,.5);
            color:#751f1f;
        }

        &:hover:not(#{$root}--incorrect){
            transform: scale(1.015);
            cursor: pointer;
        }

        &:active:not(#{$root}--incorrect){
            box-shadow: 0 0 1px rgba(0,0,0,.15);
            transform: scale(1);
            background-clip: padding-box;     
        }
    }

    &__item-action{
      position: absolute;
      background-color: $primary-color;  
      right: 0px;
      width: 15px;
      height: 15px;
      border-radius: 0 5px 0px 5px;
      font-size: .85rem;
      line-height: 1;
      text-align: center;
      color: $white;
      top: 0px;
      cursor: pointer; 
    }

    &--input{
        li{
            text-align: left;
            flex-basis: calc(50% - 10px);
        }

        .input{
            outline: none;
            text-align: center;
        }

        label>span{
            font-size: .55rem;
        }
    }
}