.sidebar{
  color: $white;
  background-color: $primary-color;
  position: fixed;
  height: 100%;
  font-family:'Kodchasan';

  &__title{
    text-align: center;
    padding: 20px 10px;

    @media #{$medium-screen}{
      display: none;
    }
  }

  .button{
    color: $secondary-color-dark;
    background: $white;
  }

  &__menu{
    background-color: darken($primary-color,10%);
    padding: 20px;
    list-style: none;
    
    @media #{$medium-screen}{
      padding: 0;
    }
    
    &-item{  
      text-align: center;
      padding: 10px 0;

      @media #{$medium-screen}{
        padding: 0;
        height: 50px;
      }

      a{
        color: $white;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;

        span:last-of-type{
          display:none;
        }

        @media #{$medium-screen}{
          span:last-of-type{
            display:block;
          }
  
          span:first-of-type{
            display:none;
          }
        }
      }

      &:hover{
        background-color: $white;
        border-radius: 5px;

        a{
          color: $secondary-color-dark !important;
        }

        @media #{$medium-screen}{
          border-radius: 0px;
        }
      }

    }

    &-icon{
      width: 100%;
      min-height: 100%;
      height: inherit;
      padding: 13px;

      svg{
        fill:$white;
      }

      &:hover{
        svg{
          fill:$primary-color;
        }
      }
      &--add{
      }
    }
  }

  &__footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;

    @media #{$medium-screen}{
      padding: 0;
    }

    .button{
      span:last-of-type{
        display: none;
      }

      @media #{$medium-screen}{
        width: 100%;
        height: 50px;
        padding: 0;
        border-radius: 0;
        background-color: darken($primary-color,10%);
        
        span:first-of-type{
          display: none;
        }

        span:last-of-type{
          display: block;
        }

        &:hover{
          background-color: $white;
        }
      }
    }
  }

}