@font-face {
    font-family: schoolBell;
    src: url(../fonts/Schoolbell.ttf);
    font-style : normal;
    font-weight : 100;
}

body{
   font-size:5em;
   color : $text;
   font-family : schoolBell;
   background-color: #f9f9f9;
}

button{
    border:2px solid #f6903d;
    background-color:#e1f5c4;
    color: $text;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    font-family:inherit;
    font-size:1.5rem;

    &.circular{
        padding:10px;
        width: 80px;
        height:80px;
        border-radius:100%;
        outline:none;
    }

    &:hover,&:focus{
        background-color:#f6903d;
    }
}

.question-set{
    margin-top:20px;
}

.question{

    &__heading{
        font-size : 3.5rem;
        padding:20px;
        text-align:center;
    }

    &__image-holder{
        position : relative;
    }

    &__explanation{
        background-color: #e1f5c4;
        border-radius : 10px;
        padding : 20px;
        opacity : 0;
        z-index: -1 ;
        transition : opacity 0.5s;
        box-shadow : 0px 0px 1px 1px rgba(0,0,0,0.05) ,
            0px 5px 2px 2px rgba(0,0,0,0.1);
        position:absolute;
        width:100%;
        top:0;
        p{
            font-size: 2rem;
        }

        &.active{
            z-index:200;
            opacity : 1;
        }
    }

    &__score{

        .badge{
            display:inline-block;
            width : 80px;
            height: 80px;
            background-image: url(../images/medal.png);
            background-size : 100% auto;
        }
    }

    &__image{
        display:block;
        height: 300px;
        width:auto;
        margin:40px auto;
    }

    &__option-list{

    }

    &__option-item{
        width:46%;
        margin:2%;
        font-size : $question-text-size;
        padding: 10px;
        display:inline-block;
        float:left;

        border : 5px solid $green;
        border-radius : 30%/90%;
        text-align:center;
        text-transform:lowercase;
        cursor:pointer;
        transition: box-shadow 0.5s,background-color 0.5s;

        &:hover{
            animation:pulse 1s infinite;
             box-shadow: 0 3px 1px 1px rgba(0,0,0,0.2);
             background-color:$green;
        }
    }

}