*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(
        165deg,$background-primary,
        $background-accent,$background-primary);
    background-repeat: no-repeat;
}

#app{
    font-family: $font-family-declaration;
    min-height: inherit;
    font-size: $base-font-size;
    color:$primary-text;
}

.star{
    @include spin-in(&);
    padding: 0 10px;

    i svg{
        width: 40px;
        height: 40px;
        stroke:darken($gold,10%);
        fill: transparent
    }

    &--filled{
        i svg path,i svg{
            fill:$gold;
        }
    }
}

.score, .welcome, .form{
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    min-height: inherit;
    box-shadow: none !important;

    .card__body{
        padding: 20px;
        box-shadow: 0 0 50px rgba(0,0,0,.15);
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    p{
        padding-bottom: 20px;
        font-size: $large-font-size;
    }
}

.score .inline-list{
    padding-bottom: 25px;
    justify-content: center;
}

.form{
    max-width: 800px;

    form{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .form-segment{
        display: flex;
        flex-flow: column wrap;
        flex-basis: calc(50% - 10px);
        
        &:not(:last-of-type){
            margin-bottom:20px;
        }

        &--full{
            flex-basis: 100%;
        }
    }

    .input-group{
        margin-bottom: 20px;

        &__input{
            border: 1px dashed #ccc;
            border-left: none;
        }
    }

    .add-option{
        width: auto;
        align-self: flex-end;
        margin-bottom: 20px;
    }

    .button{
        align-self: flex-end;
    }

    .preview{
        flex-grow: 1;
        border: 1px dashed #ccc;
        border-radius: 5px;
        padding: 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-origin:padding-box;

        img{
            width: 0%;
            height: 0%;
        }
    }
}

.button{
    font-family: inherit;
    border: none;
    padding: 10px 35px;
    background: $primary-color;
    line-height: 1;
    border-radius: 3px;
    font-size: inherit;
    color: $white;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.15);

    &:active{
        box-shadow: 0 0 1px rgba(0,0,0,.5);
    }    
}

.inline-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}