/****    COLORS    ****/
$background-accent:#e5f9ff;
$background-primary:#d5fbf8;
$primary-color:#00bfaf;
$primary-color:#006159;
$primary-text:#07887d;
$secondary-color-dark:#124050;
$white:#fff;
$gold:#f1cb01;
$grey: #ccc;

/****    TYPOGRAPHY    ****/
$main-font: "Kodchasan";
$fallback-font: "Istok Web";
$system-fallback-font: sans-serif;
$font-family-declaration: "#{$main-font}", 
    "#{$fallback-font}", 
    "#{$system-fallback-font}";
$base-font-size: 1.15rem;
$large-font-size: 1.35rem;
$regular-font-size: 1rem;

/****    BREAKPOINTS    ****/
$small-screen: "screen and (max-width : 600px)";